.post {
  width: 100%;
  margin-top: 15px;
  min-width: 600px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.post__top {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  color: black;
}

.delete {
  color: black;
  position: absolute;
  right: 0;
  top: 5%;
}

.person_info {
  display: flex;
  text-align: start;
  position: relative;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.post_info {
  color: black;
  font-size: small;
  flex-direction: row;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-bottom: 1%;
  /* padding-left: 5%; */
  justify-content: space-around;
  border-bottom: 1px solid lightgray;
}
.post__avatar {
  margin-right: 20px;
}
.post__topInfo {
  margin-left: 8%;
}

.post__topInfo > h3 {
  font-size: medium;
  text-align: start;
}

.post__topInfo > p {
  font-size: small;
  color: gray;
}

.post__image > img {
  width: 100%;
}

.post__bottom {
  font-size: medium;
  text-align: start;
  margin-bottom: 10px;
  overflow: hidden;
  word-wrap: break-word;
  padding: 5px 50px;
  color: black;
}

.post__options {
  padding-top: 10px;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: space-evenly;
  font-size: small;
  color: gray;
  cursor: pointer;
  padding: 5px;
}

.post__option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  flex: 1;
}

.post__option > p {
  margin-left: 10px;
}

.post__option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
}

.liked {
  color: blue;
}

.comment_section {
  color: black;
  padding: 20px 20px;
  border-top: 1px solid lightgray;
}
